{
  "openapi": "3.0.0",
  "info": {
    "title": "Public Api v3",
    "version": "3.0",
    "description": "Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.",
    "contact": {
      "name": "Support",
      "email": "contact@yousign.com"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.yousign.app/v3",
      "description": "Sandbox URL"
    },
    {
      "url": "https://api.yousign.app/v3",
      "description": "Production URL"
    },
    {
      "url": "https://dev.yousign.io/api_public/v3"
    }
  ],
  "paths": {
    "/signature_requests": {
      "post": {
        "summary": "Initiate a new signature request",
        "operationId": "post-signature_requests",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Initiate a new signature request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Name of the signature request"
                  },
                  "delivery_mode": {
                    "type": "string",
                    "enum": [
                      "none",
                      "email"
                    ],
                    "description": "Delivery mode to notify signers."
                  },
                  "ordered_signers": {
                    "type": "boolean",
                    "description": "Enable an ordered workflow, each signer will be requested to sign in a sequential order"
                  },
                  "reminder_settings": {
                    "type": "object",
                    "description": "Enable automatic reminders for pending signers.",
                    "nullable": true,
                    "properties": {
                      "interval_in_days": {
                        "type": "number",
                        "enum": [
                          1,
                          2,
                          7,
                          14
                        ]
                      },
                      "max_occurrences": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 10,
                        "example": 5
                      }
                    },
                    "required": [
                      "interval_in_days",
                      "max_occurrences"
                    ]
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Europe/Paris",
                    "description": "tz database format"
                  },
                  "email_custom_note": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Please sign these documents as soon as possible.",
                    "description": "A custom note added to emails sent to signers."
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                    "description": "Due date of the signature request (yyyy-mm-dd). Default to 6 month after the activation."
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "description": "Create a signature request from an existing template. This parameter is not available in Sandbox."
                  },
                  "external_id": {
                    "type": "string",
                    "pattern": "^[\\w\\-@.%+]+$",
                    "maxLength": 255,
                    "description": "Store a custom id that will be added to webhooks & appended to redirect urls.",
                    "nullable": true
                  },
                  "branding_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Use a specific branding to customize the signature experience.",
                    "nullable": true
                  },
                  "custom_experience_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Use a specific Custom Experience to customize the signature experience.",
                    "nullable": true
                  },
                  "documents": {
                    "deprecated": true,
                    "type": "array",
                    "maxItems": 5,
                    "uniqueItems": true,
                    "description": "You can directly attach orphan documents to the signature request.",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "89120884-d29a-4b1a-ac7b-a9e73a872795"
                    }
                  },
                  "signers": {
                    "deprecated": true,
                    "type": "array",
                    "description": "Can only be used if you add documents at the same time.",
                    "items": {
                      "description": "Create signers",
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SignatureRequest_SignerFromInfoInput"
                        },
                        {
                          "$ref": "#/components/schemas/SignatureRequest_SignerFromUserIdInput"
                        },
                        {
                          "$ref": "#/components/schemas/SignatureRequest_SignerFromContactIdInput"
                        }
                      ]
                    }
                  },
                  "workspace_id": {
                    "type": "string",
                    "description": "Scope the signature request to a specific workspace",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
                    "nullable": true
                  }
                },
                "required": [
                  "name",
                  "delivery_mode"
                ]
              }
            }
          }
        },
        "tags": [
          "Signature Request"
        ]
      },
      "get": {
        "summary": "List signature requests",
        "operationId": "get-signature_requests",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SignatureRequest"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "description": "List signature requests",
        "tags": [
          "Signature Request"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "ongoing",
                "done",
                "deleted",
                "expired",
                "canceled",
                "approval",
                "rejected"
              ]
            },
            "in": "query",
            "name": "status",
            "description": "Filter by status"
          },
          {
            "$ref": "#/components/parameters/AfterCursor"
          },
          {
            "schema": {
              "type": "string",
              "example": "an_external_id",
              "pattern": "^[\\w\\-@.%+]+$"
            },
            "in": "query",
            "name": "external_id",
            "description": "Filter by external_id"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "public_api"
                ],
                "default": "public_api"
              }
            },
            "in": "query",
            "name": "source[]",
            "description": "Filter by source"
          }
        ]
      },
      "parameters": []
    },
    "/signature_requests/{signatureRequestId}/documents": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795"
          },
          "name": "signatureRequestId",
          "in": "path",
          "description": "Signature Request Id",
          "required": true
        }
      ],
      "post": {
        "summary": "Add document to a signature request",
        "operationId": "post-signature_requests-signatureRequestId-documents",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Binary file"
                  },
                  "nature": {
                    "type": "string",
                    "enum": [
                      "attachment",
                      "signable_document"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "example": "MyPa$$word"
                  },
                  "initials": {
                    "nullable": true,
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InitialsArea"
                      }
                    ]
                  },
                  "parse_anchors": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "file",
                  "nature"
                ]
              }
            }
          },
          "description": "Sending file with metadata"
        },
        "description": "Add document to a signature request",
        "tags": [
          "Document"
        ]
      },
      "get": {
        "summary": "List signature request documents",
        "operationId": "get-signature_requests-signatureRequestId-documents",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "List signature request documents",
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachment",
                "signable_document"
              ]
            },
            "in": "query",
            "name": "nature",
            "description": "filter by nature"
          }
        ]
      }
    },
    "/signature_requests/{signatureRequestId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        }
      ],
      "get": {
        "summary": "Fetch a signature request",
        "tags": [
          "Signature Request"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signature_requests-signatureRequestId",
        "description": "Fetch a signature request"
      },
      "patch": {
        "summary": "Update a Signature Request",
        "operationId": "patch-signature_requests-signatureRequestId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "delivery_mode": {
                    "type": "string",
                    "enum": [
                      "none",
                      "email"
                    ],
                    "description": "Delivery mode to notify signers"
                  },
                  "ordered_signers": {
                    "type": "boolean",
                    "description": "Enable an ordered workflow, each signer will be requested to sign in a sequential order"
                  },
                  "reminder_settings": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "interval_in_days": {
                        "type": "number",
                        "enum": [
                          1,
                          2,
                          7,
                          14
                        ]
                      },
                      "max_occurrences": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 10,
                        "example": 5
                      }
                    },
                    "required": [
                      "interval_in_days",
                      "max_occurrences"
                    ]
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Europe/Paris",
                    "description": "tz database format"
                  },
                  "email_custom_note": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Please sign these documents as soon as possible.",
                    "nullable": true
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Due date of the signature request (yyyy-mm-dd).",
                    "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"
                  },
                  "external_id": {
                    "type": "string",
                    "pattern": "^[\\w\\-@.%+]+$",
                    "maxLength": 255,
                    "nullable": true
                  },
                  "branding_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "nullable": true
                  },
                  "custom_experience_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Use a specific Custom Experience to customize the signature experience.",
                    "nullable": true
                  },
                  "workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Transfer the Signature Request into a given Workspace."
                  }
                }
              }
            }
          }
        },
        "description": "Update a Signature Request",
        "tags": [
          "Signature Request"
        ]
      },
      "delete": {
        "summary": "Delete a signature request",
        "operationId": "delete-signature_requests-signatureRequestId",
        "description": "Delete a signature request (in draft status)",
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "Signature Request"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/followers": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        }
      ],
      "post": {
        "summary": "Create new followers",
        "operationId": "post-signature_requests-signatureRequestId-followers",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "array",
                  "x-examples": {
                    "example-1": {
                      "followers": [
                        {
                          "email": "john.doe@example.com",
                          "locale": "fr"
                        },
                        {
                          "email": "jane.doe@example.com",
                          "locale": "fr"
                        }
                      ]
                    }
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@example.com"
                      },
                      "locale": {
                        "$ref": "#/components/schemas/Locale"
                      }
                    },
                    "required": [
                      "email",
                      "locale"
                    ]
                  }
                },
                "examples": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Create new followers",
        "tags": [
          "Follower"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "john.doe@example.com"
                    },
                    "locale": {
                      "$ref": "#/components/schemas/Locale"
                    }
                  },
                  "required": [
                    "email",
                    "locale"
                  ]
                }
              }
            }
          },
          "description": "A list of Follower objects to be added to the signature request."
        }
      }
    },
    "/signature_requests/{signatureRequestId}/approvers": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "description": "Signature Request Id",
          "required": true
        }
      ],
      "post": {
        "summary": "Create a new approver",
        "operationId": "post-signature_requests-signatureRequestId-approvers",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Approver",
                  "type": "object",
                  "title": "Approver",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "minLength": 1,
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "initiated",
                        "notified",
                        "approved",
                        "rejected"
                      ]
                    },
                    "info": {
                      "type": "object",
                      "required": [
                        "first_name",
                        "last_name",
                        "email",
                        "phone_number",
                        "locale"
                      ],
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "last_name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "minLength": 1,
                          "format": "email"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "description": "E.164 format.",
                          "nullable": true
                        },
                        "locale": {
                          "$ref": "#/components/schemas/Locale"
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "info"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Create a new approver from scratch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "description": "Create a new approver from scratch",
                    "properties": {
                      "info": {
                        "type": "object",
                        "required": [
                          "first_name",
                          "last_name",
                          "email",
                          "locale"
                        ],
                        "properties": {
                          "first_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "last_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "email": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "E.164 format.",
                            "minLength": 1,
                            "nullable": true
                          },
                          "locale": {
                            "$ref": "#/components/schemas/Locale"
                          }
                        }
                      }
                    },
                    "required": [
                      "info"
                    ]
                  },
                  {
                    "properties": {
                      "user_id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                      }
                    },
                    "description": "Create a new approver from an existing user",
                    "required": [
                      "user_id"
                    ]
                  },
                  {
                    "properties": {
                      "contact_id": {
                        "type": "string",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "format": "uuid",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744"
                      }
                    },
                    "description": "Create a new approver from an existing contact",
                    "required": [
                      "contact_id"
                    ]
                  },
                  {
                    "properties": {
                      "signer_id": {
                        "type": "string",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "format": "uuid",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744"
                      }
                    },
                    "description": "Create a new approver from an existing signer",
                    "required": [
                      "signer_id"
                    ]
                  }
                ],
                "type": "object"
              }
            }
          },
          "description": "An Approver object to be added to the signature request."
        },
        "tags": [
          "Approver"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/approvers/{approverId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "description": "Signature Request Id",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "approverId",
          "in": "path",
          "description": "Approver Id",
          "required": true
        }
      ],
      "get": {
        "summary": "Get an approver",
        "operationId": "get-signature_requests-signatureRequestId-approvers-approverId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1approvers/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "Approver"
        ]
      },
      "patch": {
        "description": "Update an Approver",
        "operationId": "patch-signature_requests-signatureRequestId-approvers-approverId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1approvers/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "info": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "email": {
                        "type": "string",
                        "minLength": 1,
                        "format": "email"
                      },
                      "phone_number": {
                        "type": "string",
                        "minLength": 1,
                        "description": "E.164 format"
                      },
                      "locale": {
                        "$ref": "#/components/schemas/Locale"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Approver"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/signers": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        }
      ],
      "post": {
        "summary": "Create a new signer",
        "operationId": "post-signature_requests-signatureRequestId-signers",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Signer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Create a new signer",
        "tags": [
          "Signer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "oneOf": [
                  {
                    "description": "Create a new signer from scratch",
                    "properties": {
                      "info": {
                        "type": "object",
                        "required": [
                          "first_name",
                          "last_name",
                          "email",
                          "locale"
                        ],
                        "properties": {
                          "first_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "last_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "email": {
                            "type": "string",
                            "minLength": 1,
                            "format": "email"
                          },
                          "phone_number": {
                            "type": "string",
                            "minLength": 1,
                            "description": "E.164 format. Becomes mandatory if `signature_authentication_mode` requires a phone number.",
                            "nullable": true
                          },
                          "locale": {
                            "$ref": "#/components/schemas/Locale"
                          }
                        }
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/FieldsInput"
                        }
                      },
                      "insert_after_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                        "description": "Insert just after the position of the specified signer id",
                        "nullable": true
                      },
                      "signature_level": {
                        "type": "string",
                        "default": "electronic_signature",
                        "enum": [
                          "electronic_signature",
                          "advanced_electronic_signature",
                          "electronic_signature_with_qualified_certificate",
                          "qualified_electronic_signature_mode_1"
                        ]
                      },
                      "signature_authentication_mode": {
                        "type": "string",
                        "default": null,
                        "enum": [
                          null,
                          "otp_email",
                          "otp_sms",
                          "no_otp"
                        ],
                        "nullable": true
                      },
                      "redirect_urls": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          },
                          "error": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          }
                        }
                      },
                      "custom_text": {
                        "type": "object",
                        "properties": {
                          "request_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "request_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          },
                          "reminder_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "reminder_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          }
                        }
                      }
                    },
                    "required": [
                      "info",
                      "signature_level"
                    ]
                  },
                  {
                    "description": "Create a new signer from an existing user",
                    "properties": {
                      "user_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                        "description": "Create signer from an existing user"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/FieldsInput"
                        }
                      },
                      "insert_after_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                        "description": "Insert just after the position of the specified signer id.",
                        "nullable": true
                      },
                      "signature_level": {
                        "type": "string",
                        "default": "electronic_signature",
                        "enum": [
                          "electronic_signature",
                          "advanced_electronic_signature",
                          "electronic_signature_with_qualified_certificate",
                          "qualified_electronic_signature_mode_1"
                        ]
                      },
                      "redirect_urls": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          },
                          "error": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          }
                        }
                      },
                      "custom_text": {
                        "type": "object",
                        "properties": {
                          "request_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "request_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          },
                          "reminder_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "reminder_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          }
                        }
                      }
                    },
                    "required": [
                      "user_id"
                    ]
                  },
                  {
                    "description": "Create a new signer from an existing contact",
                    "properties": {
                      "contact_id": {
                        "type": "string",
                        "description": "Create signer from an existing contact",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "ddecfb85-8a45-4254-b940-6171b8df0a90",
                        "format": "uuid"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/FieldsInput"
                        }
                      },
                      "insert_after_id": {
                        "type": "string",
                        "description": "Insert just after the position of the specified signer id.",
                        "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "format": "uuid",
                        "nullable": true
                      },
                      "signature_level": {
                        "type": "string",
                        "default": "electronic_signature",
                        "enum": [
                          "electronic_signature",
                          "advanced_electronic_signature",
                          "electronic_signature_with_qualified_certificate",
                          "qualified_electronic_signature_mode_1"
                        ]
                      },
                      "redirect_urls": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          },
                          "error": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          }
                        }
                      },
                      "custom_text": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "request_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "request_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          },
                          "reminder_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "reminder_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          }
                        }
                      }
                    },
                    "required": [
                      "contact_id"
                    ]
                  }
                ],
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List signature request signers",
        "tags": [
          "Signer"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Signer"
                  }
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signature_requests-signatureRequestId-signers",
        "description": "List signers from a signature request"
      }
    },
    "/signature_requests/{signatureRequestId}/activate": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        }
      ],
      "post": {
        "summary": "Activate a signature request",
        "operationId": "post-signature_requests-signatureRequestId-signatures",
        "responses": {
          "201": {
            "description": "The signature request has been activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequestActivated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Activate a signature request",
        "tags": [
          "Signature Request"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/cancel": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        }
      ],
      "post": {
        "summary": "Cancel a signature request",
        "operationId": "post-signature_requests-signatureRequestId-cancel",
        "responses": {
          "201": {
            "description": "The signature request has been canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "Signature Request"
        ],
        "description": "Cancel a signature request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "enum": [
                      "contractualization_aborted",
                      "errors_in_document",
                      "other"
                    ]
                  },
                  "custom_note": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 500
                  }
                },
                "required": [
                  "reason",
                  "custom_note"
                ]
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List all users",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "operationId": "get-users",
        "description": "List all users",
        "parameters": [
          {
            "$ref": "#/components/parameters/AfterCursor"
          }
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/signers/{signerId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "format": "uuid"
          },
          "name": "signerId",
          "in": "path",
          "required": true,
          "description": "Signer id"
        },
        {
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "example": "62120884-d29a-4b1a-ac6b-a9e73a872734",
            "format": "uuid"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature request id"
        }
      ],
      "get": {
        "summary": "Get a signer",
        "tags": [
          "Signer"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignerWithSignatureLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signers-signersId",
        "description": "Get a signer"
      },
      "delete": {
        "summary": "Delete a signer",
        "tags": [
          "Signer"
        ],
        "operationId": "delete-signature_requests-signatureRequestId-signers-signerId",
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Delete a signer"
      },
      "patch": {
        "summary": "Update a signer",
        "operationId": "patch-signature_requests-signatureRequestId-signers-signerId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Signer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Update a signer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "info": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "email": {
                        "type": "string",
                        "minLength": 1,
                        "format": "email"
                      },
                      "phone_number": {
                        "type": "string",
                        "minLength": 1,
                        "description": "E.164 format"
                      },
                      "locale": {
                        "$ref": "#/components/schemas/Locale"
                      }
                    }
                  },
                  "insert_after_id": {
                    "type": "string",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "format": "uuid",
                    "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                    "nullable": true
                  },
                  "signature_level": {
                    "type": "string",
                    "default": "electronic_signature",
                    "enum": [
                      "electronic_signature",
                      "advanced_electronic_signature",
                      "electronic_signature_with_qualified_certificate",
                      "qualified_electronic_signature_mode_1"
                    ]
                  },
                  "signature_authentication_mode": {
                    "type": "string",
                    "default": null,
                    "enum": [
                      null,
                      "otp_email",
                      "otp_sms",
                      "no_otp"
                    ],
                    "nullable": true
                  },
                  "redirect_urls": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255,
                        "nullable": true
                      },
                      "error": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255,
                        "nullable": true
                      }
                    }
                  },
                  "custom_text": {
                    "type": "object",
                    "properties": {
                      "request_subject": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 150,
                        "nullable": true
                      },
                      "request_body": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 500,
                        "nullable": true
                      },
                      "reminder_subject": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 150,
                        "nullable": true
                      },
                      "reminder_body": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 500,
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Signer"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/signers/{signerId}/send_reminder": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "format": "uuid"
          },
          "name": "signerId",
          "in": "path",
          "required": true,
          "description": "Signer id"
        },
        {
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "example": "62120884-d29a-4b1a-ac6b-a9e73a872734",
            "format": "uuid"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature request id"
        }
      ],
      "post": {
        "summary": "Send manual reminder to signer",
        "operationId": "post-signature_requests-signatureRequestId-signers-signerId-send_reminder",
        "responses": {
          "201": {
            "description": "The signer has been reminded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "Signature Request"
        ],
        "description": "Send manual reminder to signer"
      }
    },
    "/signature_requests/{signatureRequestId}/documents/{documentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "ab7d0d23-671a-45b8-a4c6-23f43cc88ccd",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature request Id"
        },
        {
          "schema": {
            "type": "string",
            "example": "5b622767-befa-44b4-94df-adda0c98cfc2",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "documentId",
          "in": "path",
          "required": true,
          "description": "Document Id"
        }
      ],
      "get": {
        "summary": "Get a document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signature_requests-:signatureRequestId-documents-:-documentId",
        "description": "Get a document"
      },
      "delete": {
        "summary": "Delete a document",
        "operationId": "delete-signature_requests-signatureRequestId-documents-documentId",
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Delete a document",
        "tags": [
          "Document"
        ]
      },
      "patch": {
        "summary": "Update a document",
        "operationId": "patch-signature_requests-signatureRequestId-documents-documentId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Update a document",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nature": {
                    "type": "string",
                    "enum": [
                      "attachment",
                      "signable_document"
                    ]
                  },
                  "insert_after_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                    "description": "Insert just after the position of the specified document id",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "The password required to unlock the document if it is protected",
                    "example": "MyPa$$word"
                  },
                  "initials": {
                    "nullable": true,
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/InitialsArea"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Document"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/documents/{documentId}/replace": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "ab7d0d23-671a-45b8-a4c6-23f43cc88ccd",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        },
        {
          "schema": {
            "type": "string",
            "example": "5b622767-befa-44b4-94df-adda0c98cfc2",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "documentId",
          "in": "path",
          "required": true,
          "description": "Document Id"
        }
      ],
      "post": {
        "summary": "Replace a document",
        "operationId": "post-signature_requests-signatureRequestId-documents-documentId-replace",
        "responses": {
          "201": {
            "description": "The document has been replaced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Replace a document in a signature request",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "tags": [
          "Document"
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/documents/{documentId}/download": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "ab7d0d23-671a-45b8-a4c6-23f43cc88ccd",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        },
        {
          "schema": {
            "type": "string",
            "example": "5b622767-befa-44b4-94df-adda0c98cfc2",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "documentId",
          "in": "path",
          "required": true,
          "description": "Document Id"
        }
      ],
      "get": {
        "summary": "Download a single Signature Request Document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "Return an application/pdf document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signature_requests-signatureRequestId-documents-documents-id-download"
      }
    },
    "/signature_requests/{signatureRequestId}/reactivate": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "ab7d0d23-671a-45b8-a4c6-23f43cc88ccd",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature Request Id"
        }
      ],
      "post": {
        "summary": "Reactivate an expired signature request",
        "operationId": "post-signature_requests-signatureRequestId-reactivate",
        "responses": {
          "201": {
            "description": "The signature request has been reactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Reactivate a signature request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                    "description": "Due date of the signature request (yyyy-mm-dd). Default to 6 month after the activation."
                  }
                },
                "required": [
                  "expiration_date"
                ]
              }
            }
          }
        },
        "tags": [
          "Signature Request"
        ]
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Configure a new webhook",
        "operationId": "post-webhooks-subscriptions",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Configure a new webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Https target URL of the webhook"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 128,
                    "example": "Lorem Ipsum",
                    "description": "Short description of the webhook",
                    "nullable": true
                  },
                  "sandbox": {
                    "type": "boolean",
                    "example": true
                  },
                  "subscribed_events": {
                    "oneOf": [
                      {
                        "description": "Specific events",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "signature_request.done",
                            "signature_request.activated",
                            "signature_request.reminder_executed",
                            "signature_request.expired",
                            "signature_request.approved",
                            "signer.done",
                            "signer.notified",
                            "signer.link_opened",
                            "signer.identification_blocked",
                            "signer.sender_contacted",
                            "signer.error",
                            "contact.created",
                            "approver.notified",
                            "approver.approved",
                            "approver.rejected",
                            "electronic_seal.error",
                            "electronic_seal.done"
                          ]
                        }
                      },
                      {
                        "description": "All events",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "*"
                          ]
                        }
                      }
                    ]
                  },
                  "secret_key": {
                    "type": "string",
                    "nullable": true,
                    "description": "Autogenerated 32 bytes key"
                  },
                  "scopes": {
                    "oneOf": [
                      {
                        "description": "Specific scopes",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "app",
                            "public_api",
                            "connector_salesforce_api",
                            "connector_hubspot_api"
                          ]
                        }
                      },
                      {
                        "description": "All scopes",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "*"
                          ]
                        }
                      }
                    ]
                  },
                  "auto_retry": {
                    "type": "boolean",
                    "description": "If a Webhook request fails for any reason, Yousign will retry the request 8 times using a back-off mechanism after: 2, 6, 30, 60, 300, 1080, 1440, 2880 min"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Is the webhook enabled ?"
                  }
                },
                "required": [
                  "endpoint",
                  "description",
                  "sandbox",
                  "subscribed_events",
                  "scopes",
                  "auto_retry",
                  "enabled"
                ]
              }
            }
          }
        },
        "tags": [
          "Webhook"
        ]
      },
      "parameters": [],
      "get": {
        "summary": "List webhooks",
        "operationId": "get-webhooks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookSubscription"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "description": "List webhooks",
        "tags": [
          "Webhook"
        ]
      }
    },
    "/webhooks/{webhookId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "ab7d0d23-671a-45b8-a4c6-23f43cc88ccd",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "webhookId",
          "in": "path",
          "required": true,
          "description": "Webhook Id"
        }
      ],
      "get": {
        "summary": "Get a webhook",
        "tags": [
          "Webhook"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-webhooks-webhookId",
        "description": "Get a webhook"
      },
      "delete": {
        "summary": "Unsubscribe a webhook",
        "operationId": "delete-webhooks-webhookId",
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "description": "Unsubscribe a webhook",
        "tags": [
          "Webhook"
        ]
      },
      "patch": {
        "summary": "Update a webhook",
        "operationId": "patch-webhooks-webhookId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Https target URL of the webhook"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 128,
                    "example": "Lorem Ipsum",
                    "description": "Short description of the webhook",
                    "nullable": true
                  },
                  "sandbox": {
                    "type": "boolean",
                    "example": true
                  },
                  "subscribed_events": {
                    "oneOf": [
                      {
                        "description": "Specific events",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "signature_request.done",
                            "signature_request.activated",
                            "signature_request.reminder_executed",
                            "signature_request.expired",
                            "signature_request.approved",
                            "signer.done",
                            "signer.notified",
                            "signer.link_opened",
                            "signer.identification_blocked",
                            "signer.sender_contacted",
                            "signer.error",
                            "contact.created",
                            "approver.notified",
                            "approver.approved",
                            "approver.rejected",
                            "electronic_seal.error",
                            "electronic_seal.done"
                          ]
                        }
                      },
                      {
                        "description": "All events",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "*"
                          ]
                        }
                      }
                    ]
                  },
                  "secret_key": {
                    "type": "string",
                    "description": "Autogenerated 32 bytes key",
                    "nullable": true
                  },
                  "scopes": {
                    "oneOf": [
                      {
                        "description": "Specific scopes",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "app",
                            "public_api",
                            "connector_salesforce_api",
                            "connector_hubspot_api"
                          ]
                        }
                      },
                      {
                        "description": "All scopes",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "*"
                          ]
                        }
                      }
                    ]
                  },
                  "auto_retry": {
                    "type": "boolean",
                    "description": "If a Webhook request fails for any reason, Yousign will retry the request 8 times using a back-off mechanism after: 2, 6, 30, 60, 300, 1080, 1440, 2880 min"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Is the webhook enabled ?"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Webhook"
        ],
        "description": "Update a webhook"
      }
    },
    "/signature_requests/{signatureRequestId}/documents/download": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "description": "Signature Request Id",
          "required": true
        }
      ],
      "get": {
        "summary": "Download signature request documents",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "Return an application/pdf or application/zip archive with all documents",
            "content": {
              "application/zip, application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signature_requests-signatureRequestId-documents-download",
        "description": "Download signature request documents",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "current",
                "completed"
              ]
            },
            "in": "query",
            "name": "version",
            "description": "Specify documents version to download, \"completed\" is only available when the signature request status is \"done\"."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "archive",
            "description": "Force zip archive download"
          }
        ]
      }
    },
    "/signature_requests/{signatureRequestId}/audit_trails/download": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          },
          "name": "signatureRequestId",
          "in": "path",
          "description": "Signature Request Id",
          "required": true
        }
      ],
      "get": {
        "summary": "Download signature request audit trails",
        "responses": {
          "200": {
            "description": "Return an application/pdf or application/zip archive with all audit trails",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "get-signature_requests-signatureRequestId-audit-trails-download",
        "description": "Download signature request audit trails",
        "parameters": [],
        "tags": [
          "Signature Request"
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "List all contacts",
        "tags": [
          "Contact"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "operationId": "get-contacts",
        "description": "List all contacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/AfterCursor"
          }
        ]
      },
      "post": {
        "summary": "Create a contact",
        "tags": [
          "Contact"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "post-contacts",
        "description": "Create a contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "John",
                    "minLength": 1
                  },
                  "last_name": {
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1,
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john.doe@example.com"
                  },
                  "locale": {
                    "$ref": "#/components/schemas/Locale"
                  },
                  "phone_number": {
                    "type": "string",
                    "minLength": 1,
                    "description": "E.164 format"
                  },
                  "company_name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Yousign SAS",
                    "maxLength": 255
                  },
                  "job_title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "Developer"
                  },
                  "address_line_1": {
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1,
                    "example": "34 Rue Malfilatre"
                  },
                  "address_line_2": {
                    "type": "string",
                    "example": "1st floor",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "address_city": {
                    "type": "string",
                    "example": "Caen",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "address_postal_code": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "14000"
                  },
                  "address_country": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "France"
                  },
                  "workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "69120884-d29a-4b1a-ac7b-a9e73a872795",
                    "nullable": true
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "locale"
                ]
              }
            }
          }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/signers/{signerId}/audit_trails/download": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "example": "69120884-d29a-4b1a-ac7b-a9e73a872795"
          },
          "name": "signerId",
          "in": "path",
          "required": true,
          "description": "Signer Id"
        },
        {
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
            "format": "uuid",
            "example": "89120884-d29a-4b1a-ac7b-a9e73a872796"
          },
          "name": "signatureRequestId",
          "in": "path",
          "required": true,
          "description": "Signature request Id"
        }
      ],
      "get": {
        "summary": "Download audit trail PDF",
[...]
