=begin
#Public Api v3

#Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.

OpenAPI spec version: 3.0
Contact: contact@yousign.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.42
=end

module YousignClient
  class ApproverApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get an approver
    # @param signature_request_id Signature Request Id
    # @param approver_id Approver Id
    # @param [Hash] opts the optional parameters
    # @return [Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema]
    def get_signature_requests_signature_request_id_approvers_approver_id(signature_request_id, approver_id, opts = {})
      data, _status_code, _headers = get_signature_requests_signature_request_id_approvers_approver_id_with_http_info(signature_request_id, approver_id, opts)
      data
    end

    # Get an approver
    # @param signature_request_id Signature Request Id
    # @param approver_id Approver Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema, Integer, Hash)>] Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema data, response status code and response headers
    def get_signature_requests_signature_request_id_approvers_approver_id_with_http_info(signature_request_id, approver_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApproverApi.get_signature_requests_signature_request_id_approvers_approver_id ...'
      end
      # verify the required parameter 'signature_request_id' is set
      if @api_client.config.client_side_validation && signature_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'signature_request_id' when calling ApproverApi.get_signature_requests_signature_request_id_approvers_approver_id"
      end
      # verify the required parameter 'approver_id' is set
      if @api_client.config.client_side_validation && approver_id.nil?
        fail ArgumentError, "Missing the required parameter 'approver_id' when calling ApproverApi.get_signature_requests_signature_request_id_approvers_approver_id"
      end
      # resource path
      local_var_path = '/signature_requests/{signatureRequestId}/approvers/{approverId}'.sub('{' + 'signatureRequestId' + '}', signature_request_id.to_s).sub('{' + 'approverId' + '}', approver_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApproverApi#get_signature_requests_signature_request_id_approvers_approver_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update an Approver
    # @param signature_request_id Signature Request Id
    # @param approver_id Approver Id
    # @param [Hash] opts the optional parameters
    # @option opts [ApproversApproverIdBody] :body 
    # @return [Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema]
    def patch_signature_requests_signature_request_id_approvers_approver_id(signature_request_id, approver_id, opts = {})
      data, _status_code, _headers = patch_signature_requests_signature_request_id_approvers_approver_id_with_http_info(signature_request_id, approver_id, opts)
      data
    end

    # Update an Approver
    # @param signature_request_id Signature Request Id
    # @param approver_id Approver Id
    # @param [Hash] opts the optional parameters
    # @option opts [ApproversApproverIdBody] :body 
    # @return [Array<(Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema, Integer, Hash)>] Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema data, response status code and response headers
    def patch_signature_requests_signature_request_id_approvers_approver_id_with_http_info(signature_request_id, approver_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApproverApi.patch_signature_requests_signature_request_id_approvers_approver_id ...'
      end
      # verify the required parameter 'signature_request_id' is set
      if @api_client.config.client_side_validation && signature_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'signature_request_id' when calling ApproverApi.patch_signature_requests_signature_request_id_approvers_approver_id"
      end
      # verify the required parameter 'approver_id' is set
      if @api_client.config.client_side_validation && approver_id.nil?
        fail ArgumentError, "Missing the required parameter 'approver_id' when calling ApproverApi.patch_signature_requests_signature_request_id_approvers_approver_id"
      end
      # resource path
      local_var_path = '/signature_requests/{signatureRequestId}/approvers/{approverId}'.sub('{' + 'signatureRequestId' + '}', signature_request_id.to_s).sub('{' + 'approverId' + '}', approver_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'Paths1signatureRequests17BsignatureRequestId7D1approverspostresponses201contentapplication1jsonschema' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApproverApi#patch_signature_requests_signature_request_id_approvers_approver_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new approver
    # Create a new approver from scratch
    # @param signature_request_id Signature Request Id
    # @param [Hash] opts the optional parameters
    # @option opts [SignatureRequestIdApproversBody] :body An Approver object to be added to the signature request.
    # @return [Approver]
    def post_signature_requests_signature_request_id_approvers(signature_request_id, opts = {})
      data, _status_code, _headers = post_signature_requests_signature_request_id_approvers_with_http_info(signature_request_id, opts)
      data
    end

    # Create a new approver
    # Create a new approver from scratch
    # @param signature_request_id Signature Request Id
    # @param [Hash] opts the optional parameters
    # @option opts [SignatureRequestIdApproversBody] :body An Approver object to be added to the signature request.
    # @return [Array<(Approver, Integer, Hash)>] Approver data, response status code and response headers
    def post_signature_requests_signature_request_id_approvers_with_http_info(signature_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApproverApi.post_signature_requests_signature_request_id_approvers ...'
      end
      # verify the required parameter 'signature_request_id' is set
      if @api_client.config.client_side_validation && signature_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'signature_request_id' when calling ApproverApi.post_signature_requests_signature_request_id_approvers"
      end
      # resource path
      local_var_path = '/signature_requests/{signatureRequestId}/approvers'.sub('{' + 'signatureRequestId' + '}', signature_request_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'Approver' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApproverApi#post_signature_requests_signature_request_id_approvers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
