=begin
#Public Api v3

#Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.

OpenAPI spec version: 3.0
Contact: contact@yousign.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.42
=end

module YousignClient
  class FollowerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create new followers
    # Create new followers
    # @param signature_request_id Signature Request Id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<SignatureRequestIdFollowersBody>] :body A list of Follower objects to be added to the signature request.
    # @return [Array<SignatureRequestIdFollowersBody>]
    def post_signature_requests_signature_request_id_followers(signature_request_id, opts = {})
      data, _status_code, _headers = post_signature_requests_signature_request_id_followers_with_http_info(signature_request_id, opts)
      data
    end

    # Create new followers
    # Create new followers
    # @param signature_request_id Signature Request Id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<SignatureRequestIdFollowersBody>] :body A list of Follower objects to be added to the signature request.
    # @return [Array<(Array<SignatureRequestIdFollowersBody>, Integer, Hash)>] Array<SignatureRequestIdFollowersBody> data, response status code and response headers
    def post_signature_requests_signature_request_id_followers_with_http_info(signature_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowerApi.post_signature_requests_signature_request_id_followers ...'
      end
      # verify the required parameter 'signature_request_id' is set
      if @api_client.config.client_side_validation && signature_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'signature_request_id' when calling FollowerApi.post_signature_requests_signature_request_id_followers"
      end
      # resource path
      local_var_path = '/signature_requests/{signatureRequestId}/followers'.sub('{' + 'signatureRequestId' + '}', signature_request_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'Array<SignatureRequestIdFollowersBody>' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowerApi#post_signature_requests_signature_request_id_followers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
